version: "3.8"

services:
  excalidraw:
    container_name: excalidraw
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always
    environment:
      - NODE_ENV=production
