@import "../packages/excalidraw/css/variables.module.scss";

.excalidraw {
  --color-primary-contrast-offset: #625ee0; // to offset Chubb illusion

  &.theme--dark {
    --color-primary-contrast-offset: #726dff; // to offset Chubb illusion
  }

  .footer-center {
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    margin-inline-start: auto;
  }

  .dropdown-menu-container {
    .dropdown-menu-item {
      &.highlighted {
        color: var(--color-promo);
        font-weight: 700;
        .dropdown-menu-item__icon g {
          stroke-width: 2;
        }
      }
    }
  }

  .alert {
    pointer-events: none;
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.5;
    border-radius: var(--border-radius-md);
    z-index: 6;
    white-space: pre;

    &--warning {
      background-color: var(--color-warning);
      color: var(--color-text-warning);
    }

    &--danger {
      background-color: var(--color-danger-dark);
      color: var(--color-danger-text);
    }
  }
}

